* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    object-fit: fill;
    height: 220px; 
}

.header {
    max-width: 100%;
    margin: auto;
    background-color: cyan;
}

.header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.header .navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: green;
}

.header a {
    color: black;
    font-weight: bold;
}

.header a:hover {
    color: #007bff;
}

.main .row {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    flex-direction: column;
}

.theme {
    position: relative;
    line-height: 60px;
    color: #555;
    text-align: center;
    /* margin: 0 auto 10px; */
}
.theme::after {
    position: absolute;
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.listings-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;          
    justify-content: space-around;
    margin: 40px 80px;
}

.listings-col-3 {
    position: relative;
    flex-basis: 30%;
    min-width: 250px;
    min-height: 330px;
    margin-bottom: 30px;
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
}

.listings-col-3:hover {
    transform: translateY(-5px);
}

.listings-col-3 .listings-desc {
    margin-bottom: 30px;
}

.listings-col-3 .bid {
    position: absolute;
    color: gray;
    bottom: 0;
}

.creating-col {
    position: relative;
    flex-basis: 1;
    min-width: 250px;
    min-height: 330px;
    margin-bottom: 30px;
    text-align: center;
}

.creating-col .create-name {
    min-width: 500px;
}

.creating-col .create-content, .comment-area {
    min-width: 500px;
    height:20vh;
    resize: none;
    white-space: pre-line;
}

.creating-subcol {
    text-align: left;
    margin-bottom: 10px;
}

.creating-subcol label {
    text-align: right;
    width: 105px;
}

.creating-col .creating-btn {
    width: 150px;
    margin-top: 20px;
}

.comment-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: antiquewhite;
    margin: 20px 0;
}

.comment-container .visual {
    aspect-ratio: 16/9;
    background: wheat;
    margin: 0.5rem 0;
    color: green;
    height: 1px;
}


.item-desc {
    color: red;
}

.comment-content {
    white-space: pre-line;
    font-size: 1vw;
}

.comment-date {
    float: right;
    font-size: 8px;
}

.comment-user {
    font-size: 14px;
}

.comment-area-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-area-col .comment-area {
    margin: 10px;
}

.comment-area-col button {
    width: 150px;
    margin-bottom: 20px;
}

.place-bid {
    width: 100px;
}

.close-bid {
    margin-top: 10px;
    width: 150px;
    font-weight: bolder;
}

.register-row, .login-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.form-btn {
    text-align:center;
    margin-bottom: 10px;
}