{% extends "cars/layout.html" %}

{% block body %}
    <h2 class="theme">Active Models</h2>

    <div class="listings-row">
        {% if active_items %}
            {% for item in active_items %}
                
                <div class="listings-col-3">
                    
                    <a href="{% url 'detail' item.id %}"><img src="{{ item.item_image.url }}"></a>
                    
                    <h4>{{ item.item_name }}</h4>
                    <h6 class="listings-desc">{{ item.item_desc }}</h5>
                    {% comment %} <h6 class="bid">{{ item.starting_bid }}</h6> {% endcomment %}
                </div>
                
            {% endfor %}    
        {% endif %}
    </div>

    <h2 class="theme">Discontinued Models</h2>

    <div class="listings-row">
        {% if inactive_items %}
             {% for item in inactive_items %}
                
                <div class="listings-col-3">
                    
                    <a href="{% url 'detail' item.id %}">
                        <img src="{{ item.item_image.url }}" style="filter:opacity(.5);">
                    </a>
                    
                    <h4>{{ item.item_name }}</h4>
                    <h6 class="listings-desc">{{ item.item_desc }}</h5>
                    {% comment %} <h6 class="bid">{{ item.starting_bid }}</h6> {% endcomment %}
                </div>
                
            {% endfor %}    
        {% endif %}   
    </div>
{% endblock %}