{% extends "cars/layout.html" %}

{% block body %}
    <img src="{{ item.item_image.url }}">
    <h2>{{ item.item_name }}</h2>
    <h6 class="item-desc">{{ item.item_desc }}</h6>
    {% comment %} <h6 class="bid">USD {{ item.starting_bid }}</h6> {% endcomment %}

    {% if item.is_active %}
        {% if user.is_authenticated %}
            <div class="add_2_watchlist_icon">
                {% if is_favorite %}
                    <span><a href="{% url 'add_2_watchlist' item.id %}"><i class="fas fa-heart"></i></a></span>
                {% else %}
                    <span><a href="{% url 'add_2_watchlist' item.id %}"><i class="far fa-heart"></i></a></span>
                {% endif %}
            </div>
            {% comment %} <div>
                <span>{{ item.bid_count }} bid(s) so far.</span>
                <span>Last bid was acted by {{ last_bidder }}</span>
            </div>
            <form action="{% url 'bid_update' item.id %}" method="post">
                {% csrf_token %}
                <input type="number" min={{ item.starting_bid }} step="0.01" placeholder="Place you bid here." name="bid">
                <input class="place-bid" type="submit" value="Place Bid">
            </form> {% endcomment %}
            {% comment %} {% if is_creater %}
                <form action="{% url 'close_bid' item.id %}" method="post">
                    {% csrf_token %}
                    <button class="close-bid" type="submit" name="CloseBid">Close Bid</button>
                </form>
            {% endif %} {% endcomment %}

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}         
        {% endif %}
    {% comment %} {% else %}
        <h3>THIS AUCTION WINNER IS {{ last_bidder }}.</h3> {% endcomment %}
    {% endif %}


    {% if comments %}
        <div class="comment-container">
            {% for comment in comments %}
                
                    <div class="comment-box">
                        <span class="comment-user">Comment by <strong>{{ comment.comment_name }}</strong></span>
                        <span class="comment-date">{{ comment.created_on }}</span>
                        <div class="visual"></div>
                        <p class="comment-content">{{ comment.comment_content }}</p>
                    </div>
                
            {% endfor %}
        </div>
    {% endif %}
    
    {% if user.is_authenticated %}
        <form action="{% url 'comment_submit' item.id %}" method="POST">
            {% csrf_token %}
            <div class="comment-area-col">
                <textarea class="comment-area" name="CMcontent" placeholder="Write your thoughts here..."></textarea>
                <button type="submit" name="CMsubmit">Comment Submit</button>
            </div>
        </form>
    {% endif %}

{% endblock %}

{% block style %}
    
{% endblock %}