{% extends "cars/layout.html" %}

{% block body %}
    <h2 class="theme">Favorites</h2>
    <div class="listings-row">

        {% for item in user_watchlist %}

            <div class="listings-col-3">
                <a href="{% url 'detail' item.id %}">
                    <img src="{{ item.item_image.url }}">
                </a>
                <h4>{{ item.item_name }}</h4>
                <h6>{{ item.item_desc }}</h5>
                {% comment %} <h6 class="bid">{{ item.starting_bid }}</h6> {% endcomment %}
            </div>
        {% endfor %}

    </div>
{% endblock %}